body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

html {
  overflow-x: hidden;
}

.front-page-body {
  background-color: #f5f6fa;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
} 